.profile__info-name-container {
    display: flex;
    margin: 0 0 16px;
    align-items: center;
    grid-area: profile__info-name-container;
    max-width: 400px;
}

@media screen and (max-width:1024px) {
    .profile__info-name-container {
        max-width: 360px;
    }
}

@media screen and (max-width:820px) {
    .profile__info-name-container {
        max-width: 300px;
    }
}


@media screen and (max-width:620px) {
    .profile__info-name-container {
        max-width: 245px;
    }
}

@media screen and (max-width:480px) {
    .profile__info-name-container {
        max-width: 220px;
    }
}

@media screen and (max-width:330px) {
    .profile__info-name-container {
        margin-bottom: 0;
        max-width: 238px;
        margin-left: 25px;
        margin-top: 5px;
    }
}