.profile {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    grid-template-columns: 1fr;
}

@media screen and (max-width:950px) {
    .profile {
        display: grid;
        grid-template-areas:
        "profile__info-name-container"
        "profile__info-rank"
        "profile__add-button";
        row-gap: 25px;
    }
}

@media screen and (max-width:470px) {
    .profile {
        grid-template-columns: 100%;

    }
}