.place__fav {
    transition: opacity .3s;
    display: inline;
    border: none;
    background-color: transparent;
    background-image: url('../../../images/place-fav.svg');
    background-repeat: no-repeat;
    background-position: center;
    color: #26589F;
    list-style: none outside none;
    padding: 0;
    text-align: left;
    text-decoration: none;
    text-indent: 0;
    margin: 0 0 0;
    height: 19px;
    min-width: 22px;
}

.place__fav:hover {
    opacity: .5;
    cursor: pointer;
}