.profile__info-rank {
    grid-area: profile__info-rank;
    font-size: 18px;
    font-weight: normal;
    line-height: 22px;
    margin: 0;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 400px;
}

@media screen and (max-width:1024px) {
    .profile__info-rank {
        max-width: 305px;
    }
}

@media screen and (max-width:820px) {
    .profile__info-rank {
        max-width: 275px;
    }
}

@media screen and (max-width:770px) {
    .profile__info-rank {
        font-size: 16px;
        grid-row: 2/4;
    }
}

@media screen and (max-width:620px) {
    .profile__info-rank {
        max-width: 245px;
    }
}

@media screen and (max-width:480px) {
    .profile__info-rank {
        max-width: 220px;
        text-align: center;
    }
}

@media screen and (max-width:330px) {
    .profile__info-rank {
        font-size: 14px;
        max-width: 238px;
    }
}